{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Teken estafette, Allie van Altena</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

  <!-- Primary Page Layout
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <div class="container">
    <div class="row">
      <div class="12 columns" style="margin-top: 25%">
        <h3>The Drawing Estafette and the Allie van Altena Minerva Farewell Exhibition</h3>
        <p>
          The Drawing Estafette is a project to pass on ideas, skills and knowledge by using drawing materials.
          The project consists of two parts: the creation of an estafette-drawing by the participants during one
          day of working and/or the bringing in of some (already made) finished drawings.
          Both (all) the submitted drawings and the One-Day- Estafette-Drawing will be presented together
          with the Allie van Altena Minerva Farewell Exhibition. This will take place in the central hall of
          Academy Minerva Zuiderdiep in the first half of September 2018. 
        </p>
        <p>
          The One-Day-Drawing-Estafette will be held on <b>Friday the 14th of September</b> prior to the joined
          opening event of the Farewell Exhibition and the Drawing Estafette. The online submitted drawings
          must be delivered at Academie Minerva between <b>20th and 24th of August</b>.
        </p>
        <p>
          The Drawing Estafette is an ideal project for both students, beginner artist practitioners and
          everyone else who believes in the power of drawing.
        </p>
        <p>
          If you wish to participate, please sign up below.
        </p>
      </div>
    </div>
    <form method="post">
    <div class="row">
      <div class="one-half column">
          {% csrf_token %}
          <div class="row">
            <div class="six columns">
              <label for="nameInput">Name*</label>
              {{form.name}}
            </div>
            <div class="six columns">
              <label for="RecipientInput">Who are you*</label>
              {{form.role}}
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label for="EmailInput">Email address*</label>
              {{form.email}}
            </div>
            <div class="six columns">
              <label for="websiteAddressInput">Website address</label>
              {{form.websiteAddress}}
            </div>
          </div>
          <div class="row">
          <div class="twelve columns">
            <label for="takePartInput">Do you want to take part in the Drawing Estafette on the day of the opening?*</label>
            <div align="left">
              {{form.takePart}}
            </div>
          </div>
          <div class="row">
          <div class="twelve columns">
            <label for="exampleMessage">Additional message</label>
            {{form.additionalMessage}}
          </div>
        </div>
        </div>
      </div>
    </div>
      <h5>Artwork</h5>
      <div class="row">
        <div class="four columns">
          <label for="artwork1Title">Title</label>
          {{form.artwork1Title}}
          <label for="artwork1Size">Size (Height x Width)</label>
          <div class="row">
            {{form.artwork1SizeH}}
            {{form.artwork1SizeW}}
          </div>
          <label for="artwork1Price">Price in €</label>
          {{form.artwork1Price}}
        </div>
        <div class="four columns">
          <label for="artwork2Title">Title</label>
          {{form.artwork2Title}}
          <label for="artwork2Size">Size (Height x Width)</label>
          <div class="row">
            {{form.artwork2SizeH}}
            {{form.artwork2SizeW}}
          </div>
          <label for="artwork2Price">Price in €</label>
          {{form.artwork2Price}}
        </div>
        <div class="four columns">
          <label for="artwork3Title">Title</label>
          {{form.artwork3Title}}
          <label for="artwork3Size">Size (Height x Width)</label>
          <div class="row">
            {{form.artwork3SizeH}}
            {{form.artwork3SizeW}}
          </div>
          <label for="artwork3Price">Price in €</label>
          {{form.artwork3Price}}
        </div>
      </div>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
